
{% extends 'baseResponsavel.html' %}

{% block titulo %}
    Adicionar Saldo
{% endblock %}

{% block conteudo %}
<container class="containerAdicionarSaldo">
    <h1>Adicionar Saldo para a sua conta</h1>
    <form method="POST" class="formsSaldo" style="color: whitesmoke;"> 

        {{ form.hidden_tag() }}
        
        {{form.adicional.label()}}
        {{form.adicional(class="formsLoginBox", placeholder="Informe o Saldo")}}
        
        {{form.submit(class="botãoContainer1")}}

    </form>
</container>

{% endblock %}