

{% extends 'baseFuncionario.html' %}

{% block titulo %}
    Adicionar Estoque
{% endblock %}

{% block conteudo %}
<div id="myModalEstoque" class="modal">
    <ul>
            <div class="modalAdicionarSaldo">
                <h1>Digite o estoque adicionado:</p>
                  <div class="flexJ">
                      <input type="number" id="estoqueAmount" placeholder="Quantidade">
                      <button type="button" class="buttonConfirmDepo" onclick="submitEstoque()">Adicionar</button>
                    <span class="closeEstoque">&times;</span>
                  </div>
            </div>
    </ul>
</div>

<header>

</header>

    <div class="cardapioLista">
        <h1 class="textAlign">Adicionar estoque</h1>
        <div class="produtosEscolherRemover">

    {% for produto in produtos %}

        <div class="boxChoseLanche">
            <h1>{{produto.lanche}}</h1>
            <h2>{{produto.valor}}</h2>
            <a class="botoesChoseLanche" onclick = "adicionarEstoqueModal({{produto.id}})" >+ ESTOQUE</a>
            <h3 class="estoquetxt">estoque: {{produto.quantidade}}</h3>
            

        </div>
    
    {%endfor%}
</div>
</div>
<script src="{{url_for('static', filename='adicionarEstoque.js')}}"></script>
{%endblock%}