

{% extends 'baseAdm.html' %}

{% block titulo %}
    Adicionar Funcionário
{% endblock %}

    {%block conteudo%}
        
    <div id="modalConfirmarExcluFunc">
        <h1>DESEJA REALMENTE EXCLUIR ESSA CONTA??</h1>
        <h2 id="nomeProduto"></h2>
        <div class="flexJ">
            <button class="buttonConfirm" onclick="confirmarDelFunc()">SIM</button>
            <span class="close spanExcluFunc">&times;</span>
        </div>
    </div>
    
    <div class="bodyDependente">

            

            
            <div class="bodyaddDependente">  
                <div class="containerCadastroDependente">
                    <h1> 
                        Adicionar Funcionário
                    </h1> 
                    <form method="POST" class="formsDependente" style="color: whitesmoke;"> 
            
                        {{ form.hidden_tag() }}
                    <div class="flex">
                        {{form.usuario.label(class="labelLogin")}}
                        {{form.usuario(class="formsLoginBox", placeholder="UserName")}}
                    </div>
            
                    <div class="flex">
            
                        {{form.email.label(class="labelLogin")}}
                        {{form.email(class="formsLoginBox", placeholder="E-mail")}}
                    </div>
            
                    <div class="flex">
            
                        {{form.senha1.label(class="labelLogin")}}
                        {{form.senha1(class="formsLoginBox", placeholder="Senha")}}
                    </div>
            
                    <div class="flex">
            
                        {{form.senha2.label(class="labelLogin")}}
                        {{form.senha2(class="formsLoginBox", placeholder="Senha")}}
                    </div>
                       
                    
                        {{form.submit(class="botãoContainer1")}}
            
                
                    </form>
                </div>
                <div class="lista">
                    <h1>Lista de Funcionários</h1>
                    
                    <div class="dadosLista">

                    {% for i in funcionarios%} 

                    <div>
                        <p>Nome: <p class="saldoText">{{ i.usuario}}</p></p>
                        
                        <p>E-mail: <p class="saldoText">{{ i.email}}</p></p>

                        <button class="buttonConfirm" onclick="mostrarModalDeletar({{ i.id}}, '{{ i.usuario}}')">Deletar Conta</button>
                    </div>

                        
                    {% endfor%}
                    <div>
    <script src="{{url_for('static', filename='DeletarFuncionarioModal.js')}}"></script>

                </div>
            </div>
            
        </div>
    </div>
    {%endblock%}


