{%extends 'baseResponsavel.html' %}

{%block titulo%}
    ATUALIZAR DADOS
{%endblock%}



{%block conteudo%}
<div class="containerEntrandoLogin">
    <div class="containerAtualizarDados">
            <h1 >
                Atualizar Dados
            </h1>
            <form method="POST" class="formsLogin" style="color: whitesmoke;">
                {{form.hidden_tag() }}

                {{form.usuario(class="formsLoginBox", placeholder="Usuario") }}

                {{form.email(class="formsLoginBox", placeholder="Email") }}
                
                {{form.submit(class="botãoContainer1")}}

            </form>
    </div>
</div>

{%endblock%}