{% extends 'baseResponsavel.html'%}

{%block titulo%}
    DEPENDENTES
{%endblock%}


{% block conteudo %}

<div id="modalDepositoDependente" class="modal">
    <ul>
            <div class="modalAdicionarSaldo">
                <h1>Digite o valor para Dependente:</p>
                  <div class="flexJ">
                      <input type="number" id="depositAmountDepe" placeholder="Valor">
                      <button type="button" class="buttonConfirmDepo" onclick="Deposito()">Depositar</button>
                    <span class="spanDepoDep">&times;</span>
                  </div>
            </div>
    </ul>
</div>

<div id="modalSaqueDependente" class="modal">
    <ul>
            <div class="modalAdicionarSaldo">
                <h1>Digite o valor para Retirar:</p>
                  <div class="flexJ">
                      <input type="number" id="saqueAmountDepe" placeholder="Valor">
                      <button type="button" class="buttonConfirmDepo" onclick="Saque()">Retirar</button>
                    <span class="spanRemovDep">&times;</span>
                  </div>
            </div>
    </ul>
</div>


<div class="bodyChoseDependent">
    <h1 class="titulo">DEPENDENTES</h1>
    <div class="linhaTitulo"></div>
    <form method="post">
        {% for dependente in dependentes %}
            {% if dependente.idResponsavel == idAtual %}
                <div class="boxChoseDependent">
                    <h1>{{ dependente.usuario }}</h1>
                    <h2>Saldo: {{ dependente.saldo }}</h2>
                    <a class="botoesChoseDependent" onclick="adicionarSaldoModalDepo({{dependente.id}})">ADICIONAR</a>
                    <a class="botoesChoseDependent" onclick="retirarSaldoModalDepo({{dependente.id}})">REMOVER</a>
                </div>
            {% endif %}
        {% endfor %}
    </form>
    
    

    
</div>


<script src="{{url_for('static', filename='saldoModalDependente.js')}}"></script>

{%endblock%}