

{% extends 'baseFuncionario.html' %}

{% block titulo %}
    ESCOLHER REMOVER PRODUTO
{% endblock %}

{% block conteudo %}

<header>
    
</header>
<div id="modalConfirmar">
    <h1>DESEJA REALMENTE EXCLUIR?</h1>
    <h2 id="nomeProduto"></h2>
    <div class="flexJ">
        <button class="buttonConfirm" onclick="confirmar()">SIM</button>
        <span class="close spanExclu">&times;</span>
    </div>
</div>

    <form method="post" class="formRemovProduto">
        
            {% for produto in produtos %}
            <div class="boxChoseLanche">
                <h1>{{produto.lanche}}</h1>
                <h2>{{produto.valor}}</h2>
                <a class="botoesChoseLanche" onclick="confirmarExclusao({{produto.id}},  '{{produto.lanche}}')">EXCLUIR</a>
                <h3 class="estoquetxt">estoque: {{produto.quantidade}}</h3>

                
            </div>
            {%endfor%}
        
    </form>
    <script src="{{url_for('static', filename='scriptModalConfirmar.js')}}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{%endblock%}

