*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-weight: bold;
    color: #fff;
}


.botãoContainerLogout {
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0.3vw;
    font-weight: 700;
    color: #dd6666;
    font-size: 1.5vw;
    text-align: center;
    background-color: #df4e4e4f;
    padding: 0.7vw;
    height: 2vw;
    padding-inline: 2.3vw;
    border-radius: 1vw;
    border: solid #dd6666 0.3vw;
}
.botãoContainer1{
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0.3vw;
    font-weight: 700;
    color: #b2dbbf;
    font-size: 1.5vw;
    text-align: center;
    background-color: #237699;
    padding: 0.7vw;
    padding-inline: 2.3vw;
    max-width: fit-content;
    border-radius: 1vw;
    border: solid #b2dbbf 0.3vw;
}
header div{
    display: flex;
    flex-direction: column;
    gap:2vw;
    margin: 2vw;
}
header div div{
    display: flex;
    align-items: center;
    flex-direction: row;
}
header div div img{
    width: 8vw;
    height: 8vw;
}
header a{
    width: fit-content;
}
header{
    display: flex;
    justify-content: right;
    height: 20%;
    /*background-color: #b2dbbf91;*/
}
header h1{
    background-color: hsl(197, 45%, 44%);
    width: fit-content;
    height: fit-content;
    padding: 0.5vw;
    color: #ffffff;
    border-radius: 0.3vw;
    padding-inline: 4vw;

}

footer{
    display: flex;
    justify-content: right;
    align-items:end;
    height: 22.3%;
    /*background-color: #9aa2a581;*/
}

body{
    background-color: rgb(112, 112, 112);
    height: calc(100vh - var(--margin-principal) * 2);
    background-image: url(imagens/FotoFundo1.png);
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}
.bannerLogin img{
    width: 7vw;
}

:root{
    --margin-principal: 3vw;
    --margin-principal-inline: 4vw;
}
.containerEntrandoLogin{
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--margin-principal) * 2);
    margin-top: var(--margin-principal);
    margin-inline: calc(var(--margin-principal-inline)-40px);
    margin-bottom: var(--margin-principal);
    background-color: #237699;
    border-radius: 30px;
}
.containerEntrando{
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--margin-principal) * 2);
    margin-top: var(--margin-principal);
    margin-inline: var(--margin-principal-inline);
    margin-bottom: var(--margin-principal);
    background-color: #237699;
    

    border-radius: 4vw;
}
a{
    text-decoration: none;
}
.loginPrincipal{
    justify-content: center;
    display: flex;
    gap: 5vw;
}
.bannerLogin h1{
    font-size: 5vw;
    color: #237699;
}
.bannerLogin{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.bannerLogin h3{
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 20vw;
    color: #237699;
}
.container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--margin-principal) * 2);
    margin-top: var(--margin-principal);
    margin-inline: var(--margin-principal-inline);
    margin-bottom: var(--margin-principal);
    background-color: #237699;
    overflow: auto;

    border-radius: 0.4vw;
}
.botoesChoseDependent{
    background-color: #b2dbbf;
    border: solid 0.5vw #689aaf;
    color: #237699;
}
.container::-webkit-scrollbar{
    background-color: #237699;
    border-radius: 3vw;
}

.containerLogin, .containerCadastro, .containerCadastroDependente, .containerAdicionarSaldo{
    display: flex;
    flex-direction: column;
}
.containerCadastroDependente, .containerAdicionarSaldo{
    height: 80%;
    width: 80%;
    justify-content: center;
}
.formsDependente{
    display: flex;
    flex-direction: column;
    gap:0.5vw;
    align-items: center;
}
.formsSaldo{
    display: flex;
    flex-direction: column;
    gap:0.9vw;
    align-items: center;
}
.formsLogin{
    display: flex;
    flex-direction: column;
    gap:2vw;
    align-items: center;
}
.formsLoginBox{
    width: 70%;
    border: 0;
    height: 3vw;
    font-size: 1.3vw;
    color: #000;
    border: #237699 solid 0.2vw;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0.3vw;
    border-radius: 0.8vw;
}
.formsLogin ::placeholder{
    text-align: center;
    
    color: #91BACC;
    border: 0;
}
.containerLogin div{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 2vw;
    width: 75%;
    margin-inline: auto;
}
.containerLogin{
    width:45vw;
    justify-content: center;
}
.containerLogin h1{
    color:#fff;
    font-size: 4vw;

}   


form{
    display: flex;
    flex-direction: column;
}
.section_home_responsavel{
    display: flex;
    height: 57%;
    /*background-color: #dd66666e;*/
}
.dadosReponsavel1{
    display: flex;
    flex-direction: column;
}
.dadosResponsavel1-1, .dadosResponsavel1-2{
    width: 10vw;
    height: 10vw;
    background-color: #9aa2a5;
}
.dadosReponsavel2{
    width: 20vw;
    height: 20vw;
    background-color: aqua;
}

.containerAdicionarSaldo, .containerCadastroDependente{
    text-align: center;
}
.sidebarResponsavel{
    display: flex;
    flex-direction: column;
    width: 6.3%;
    background-color: hsl(197, 45%, 44%);
    position: absolute;
    border-radius: 0.4vw;
    height: calc(100vh - var(--margin-principal) * 2);
    justify-content: space-around;
    align-items: center;

}
.bodyBaseResponsavel{
    margin-left: 10%;
    width: 90%;
}

.sidebarResponsavel{
    transition: 0.7s;
    align-items: center;
    align-items: flex-start;
}
.sidebarResponsavel:hover {
    transition: 0.5s;
    width: 180px;
    
}
.sidebarResponsavel div{
    margin-left: 25px;
    gap: 10px;
}
.sidebarResponsavel p{
    visibility: hidden;
    opacity: 0;
    color: white;
    transition: opacity 0.2s, visibility 0.2s;

}
.sidebarResponsavel:hover p{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.7s, visibility 0.7s;
    
}
.sidebarResponsavel div{
    display: flex;
    align-items: center;
}
.sidebarResponsavel img{
    width: 30px;
    height: 30px;
}
