*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-weight: bold;
    color: #ffffffef;
    
}

#modalConfirmar{
    display: none;
    position: absolute;
    background-color: #c55a5a;
    padding: 1vw;
    padding-inline: 1.5vw;
    margin: 1vw;
    border-radius: 0.5vw;
    padding-inline: 3vw;
    z-index: 1000;

}
.close:hover,
.close:focus {
  color: rgb(255, 167, 167);
  text-decoration: none;
  cursor: pointer;
}

.close {
    color: #fefefe;
    float: right;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: end;
}
.modalAdicionarSaldo{
    background-color: rgb(255, 77, 77);
    margin-inline: auto;
    width: fit-content;
    text-wrap: nowrap;
    padding: 1vw;
    padding-inline: 2vw;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    gap:0.8vw;
    margin-top: 2vw;
    border-radius: 0.5vw;
}
.modal-content {
    background-color: rgb(255, 77, 77);
  margin-inline: auto;
  width: fit-content;
  text-wrap: nowrap;
  padding: 1vw;
  padding-inline: 2vw;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap:0.8vw;
  margin-top: 2vw;
  border-radius: 0.5vw;

}
.modal-content-NotError{
    background-color: rgb(61, 182, 59);
    margin-inline: auto;
    width: fit-content;
    text-wrap: nowrap;
    padding: 1vw;
    padding-inline: 2vw;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    gap:0.8vw;
    margin-top: 2vw;
    border-radius: 0.5vw;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }
.escuro{
    position: absolute;
    z-index: 999;
    height: 100vw;
    width:  100vw;
    background-color: rgba(0, 0, 0, 0.4) !important;
}
.botãoContainerVoltar{
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0.3vw;
    font-weight: 700;
    color: #66a8dd;
    font-size: 1.2vw;
    text-align: center;
    background-color: #4e9edf3b;
    padding: 0.5vw;
    padding-inline: 2.3vw;
    border-radius: 0.6vw;
    border: solid #66a4dd 0.2vw;
}
.botãoContainerLogout {
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0.3vw;
    font-weight: 700;
    color: #dd6666;
    font-size: 1vw;
    text-align: center;
    background-color: #df4e4e4f;
    padding: 0.4vw;
    height: 1.2vw;
    padding-inline: 1.5vw;
    border-radius: 0.6vw;
    border: solid #dd6666 0.2vw;
}
.botãoContainer1{
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0.3vw;
    font-weight: 700;
    color: #b2dbbf;
    font-size: 1.5vw;
    text-align: center;
    background-color: #237699;
    padding: 0.7vw;
    padding-inline: 2.3vw;
    max-width: fit-content;
    border-radius: 1vw;
    border: solid #b2dbbf 0.2vw;
    margin-block: 1vw;
}
.bodyaddEstoque{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}
#modalConfirmar{
    border: #862525 solid 0.2vw !important;

}
#nomeProduto{
    font-size: 1.5vw;
    font-weight: 600;
    color: #ffffffc4;
    margin-bottom: 1.5vw;
}
#modalConfirmar h3{
    margin-top: 0.5vw;

}
.buttonConfirm{
    color: white;
    background-color: #b63a3a;
    padding: 0.3vw;
    padding-inline: 1.8vw;
    border-radius: 0.5vw;
    border: #862525 solid 0.2vw !important;

}
.bodyChoseDependent{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyChoseDependent .titulo{
    margin-top: 4vw;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.952);

}
.bodyChoseDependent form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:2vw;
}

.linhaTitulo{
    margin-top: 2vw;
    margin-bottom: 3vw;
    height: 0.1vw;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.158);
}
.boxChoseLanche h1{
    text-transform: uppercase;
    font-size: 2vw;
    word-break: break-word;
    max-width: 90%;
    line-height: 2vw;
    color: rgba(255, 255, 255, 0.89);
    margin: 0;
}
.boxChoseDependent h1{
    text-transform: uppercase;
    font-size: 1.6vw;
    color: rgba(255, 255, 255, 0.89);
}

.boxChoseDependent h2, .boxChoseLanche h2{
    font-size: 1.5vw;
    color: #ffffff86;
}
.estoquetxt{
    color: #ffffff5e;
}
.perfildiv{
    display: flex;
    flex-direction: column;
    margin: 3vw;
    margin-left: 10vw;

    gap:2vw
}
.perfildiv p{
    font-size: 1.5vw;

}
.perfildiv strong{
    font-size: 3vw;
}
.opcoesFunc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.boxChoseDependent, .boxChoseLanche{
    padding: 3vw;
    border: hsl(198, 40%, 46%) solid 0.2vw;
    background-color: hsl(197, 45%, 44%);
    display: flex;
    flex-direction: column;
    border-radius: 1.2vw;
    justify-content:center;
    align-items: center;
    gap:0.7vw;
    

}
.perfilPage{
    display: flex;
}
.divCanvas{
    gap:4vw;
    display: flex;
    align-items: center;
}
.canvaF{
    width: clamp(200px, 24vw, 2000px);
    height: clamp(200px, 24vw, 2000px);
    text-align: center;
    font-size: 1vw;
}
.canva{
    margin-top: 3vw;
    width: 20vw;
    height: 20vw;
    text-align: center;
    font-size: 1vw;
}
.canva h1{
    color: rgb(205, 220, 231);
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}
.boxChoseLanche{
    padding: 2vw;
    min-width: 15vw;
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
header div{
    display: flex;
    flex-direction: row;
    gap:2vw;
    margin: 2vw;
}
header div div{
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: row;
}
header div div img{
    width: 6vw;
    height: 6vw;
}
header a{
    width: fit-content;
}
header{
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 1.7vw;
    color: #ffffff79;
}
.dadosLista p{
    color: #ffffff79;

}
.dadosLista .saldoText{
    color: #ffffffef;

}
.saldoHeader{
    background-color: hsl(197, 45%, 44%);
    width: fit-content;
    height: fit-content;
    padding: 0.4vw;
    border-radius: 0.3vw;
    padding-inline: 4vw;
    display: flex;
    flex-direction: row;
    gap:0.5vw;
}
header .saldoText{
    color: #ffffffef;
    font-size: 1.7vw;
}
.headerFuncM{
    justify-content: center;
    align-items: center;
}
.headerFunc{
    display: flex;
    flex-direction: row;
}
.divFunc{
    display: flex;
    justify-content: center;
    width: 90vw;
    gap: 10vw;
}

footer{
    display: flex;
    justify-content: right;
    align-items:end;
    height: 22.3%;
    /*background-color: #9aa2a581;*/
}

body{
    background-color: rgb(112, 112, 112);
    height: calc(100vh - var(--margin-principal) * 2) !important;
    background-image: url(imagens/FotoFundo1.png);
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}
.TelaInteira{
    height: 100vh !important;

}
.formRemovProduto{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    max-width: 100%;
    max-height: 25vw;
    flex-wrap: wrap;
    justify-content: center;
}
.overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bannerLogin img{
    width: 7vw;
}

:root{
    --margin-principal: 3vw;
    --margin-principal-inline: 4vw;
}
.containerEntrandoLogin{
    display: flex;
    flex-direction: row;
    height: calc(90vh - var(--margin-principal) * 2);
    margin-top: var(--margin-principal);
    margin-inline: calc(var(--margin-principal-inline)-40px);
    margin-bottom: var(--margin-principal);
    background-color: #237699;
    border-radius: 1.5vw;
}
.containerEntrando{
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--margin-principal) * 2);
    margin-top: var(--margin-principal);
    margin-inline: var(--margin-principal-inline);
    margin-bottom: var(--margin-principal);
    background-color: #237699;
    

    border-radius: 4vw;
}
a{
    text-decoration: none;
}
.loginPrincipal{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5vw;
}
.modal.show {
    display: block; 
    opacity: 1; 
    animation: fadeIn 0.2s; /* Fade-in effect */

}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (max-width: 800px){
    .boxChoseLanche{
        width: 50vw;
        height: 50vw;
        gap:0;
        justify-content: center;
        gap:3vw;

    }
    header .saldoText{
        color: #ffffffef;
        font-size: 6vw;
    }
    
    .mensagensErro{
        font-size:2.5vw;
        color: #fefefe;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    header h1{
        font-size: 5vw;
    }
    .botaoIncremento{
        padding:1.5vw !important; 
        padding-inline: 6vw !important;
        max-width: 55vw !important;
        border-radius: 1vw !important;
        margin-block: 3vw !important;
        border: #57a571 solid 0.4vw !important;
        font-size: 5.5vw !important;
        border-radius: 2vw !important;
    }
    .botaoDecremento{
        padding:1.5vw !important; 
        padding-inline: 6vw !important;
        max-width: 55vw !important;
        border-radius: 1vw !important;
        margin-bottom: 2vw !important;
        border: #c55a5a solid 0.4vw !important;
        font-size: 5.5vw !important;
        border-radius: 2vw !important;

    }
    
    .botãoContainerLogout{
        font-size:5vw;
        height: 6vw;
        padding: 1vw;
        padding-inline: 3vw;
        border-radius: 2vw;
        border: solid #dd6666 0.6vw;
    }
    .boxChoseLanche h1{
        font-size: 5vw;
        line-height: 5vw;
    }
    .boxChoseLanche h3{
        font-size: 5vw;
    }
    .boxChoseDependent h2, .boxChoseLanche h2{
        font-size: 5vw;
    }
    .botoesChoseLanche{
        width: 25vw;
        height: 5vw;
        font-size: 4vw !important;
        border: solid hsl(197, 64%, 66%) 0.5vw !important; 
    }
    .loginPrincipal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0;
    }
    .containerLogin {
        width: 80vw !important;
        height: 70vw;
        gap: 3vw;
    }
    .containerEntrandoLogin{
        height: fit-content;
    }
    .bannerLogin img{
        width: 20vw;
    }
    .bannerLogin h1{
        font-size: 14vw !important;
    }
    .containerLogin h1{
        font-size: 8vw !important;
        text-align: center;
        line-height: 10vw;
    }
    .formsLoginBox{
        width: 120% !important;
        height: 6vw !important;
        font-size: 3vw  !important;

    }
    .botãoContainer1{
        font-size: 4vw;
        padding: 2vw;
        border-radius: 2.7vw;
        border: solid #b2dbbf 0.5vw;

        padding-inline: 4.3vw;
    }
    .bannerLogin h3{
        display: none;
    }
    .bannerLogin h1{
        font-size: 12vw !important;
    }
}
.tituloComprarProduto{
    font-size: 3vw;

}
.counter{
    font-size: 2vw;
    margin: 2vw;
}
.mensagensErro{
    font-size:1.5vw;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bannerLogin h1{
    font-size: 5vw;
    color: #237699;
}
.bannerLogin{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.bannerLogin h3{
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 20vw;
    font-size: 1.5vw;
    color: #237699;
}
.container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--margin-principal) * 2);
    margin-top: var(--margin-principal);
    margin-inline: var(--margin-principal-inline);
    margin-bottom: var(--margin-principal);
    background-color: #237699;
    overflow: auto;
    border-radius: 0.4vw;
}
.containerDependente{
    height: calc(100vh - var(--margin-principal) * 2);
    margin-top: var(--margin-principal);
    margin-inline: var(--margin-principal-inline);
    margin-bottom: var(--margin-principal);
    background-color: #237699;
    overflow: auto;
    border-radius: 0.4vw;
    display: flex;
    flex-direction: column;
}
.botoesChoseDependent a{
    color: hsl(197, 85%, 73%);
}
.formsLoginBoxMenor{
    width: 80%;
    border: 0;
    height: 2.5vw;
    font-size: 1.1vw;
    color: #000;
    border: #237699 solid 0.2vw;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0.3vw;
    border-radius: 0.6vw;
}



.formsLoginBoxMenor:focus{
    background-color: #508ba5;
    outline: none;
    color: #ffffffef;
}

.bodyDependente header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2vw;
}

.bodyaddDependente{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: start;
    gap:6vw;
}
.containerFunc{
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--margin-principal) * 2);
    margin-top: var(--margin-principal);
    margin-inline: var(--margin-principal-inline);
    margin-bottom: var(--margin-principal);
    background-color: #237699;
    overflow: auto;
    border-radius: 0.4vw;
    width: 92%;
}
.container{
    width: 92%;
}
.botoesChoseLanche{
    font-size: 1.1vw;
    background-color: hsla(197, 45%, 44%, 0.288);
    border: solid hsl(197, 64%, 66%) 0.2vw;
    padding: 0.4vw;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0.2vw;
    color: hsl(197, 85%, 73%);
    padding-inline: 1vw;
    border-radius: 0.6vw;
}
.botoesChoseDependent{
    background-color: hsla(197, 45%, 44%, 0.288);
    border: solid hsl(197, 64%, 66%) 0.2vw;
    padding: 0.6vw;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0.2vw;

    padding-inline: 1.1vw;
    border-radius: 0.8vw;
}
.container::-webkit-scrollbar, .containerFunc::-webkit-scrollbar{
    background-color: #237699;
    border-radius: 3vw;
}

.containerLogin, .containerCadastro, .containerCadastroDependente, .containerAdicionarSaldo{
    display: flex;
    flex-direction: column;
}
.containerAtualizarDados{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    gap:1vw
}
 .containerAdicionarSaldo{
    height: 80%;
    width: 80%;
    justify-content: center;
}

.containerCadastroDependente{
    width: fit-content;
}
.formsDependente{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap:1.5vw;
    align-items: center;
}
.formsDependente .flex .labelLogin{
    width: 23vw;
}
.formsDependente .flex{
    align-items: center;
}
.formsSaldo{
    display: flex;
    flex-direction: column;
    gap:0.9vw;
    align-items: center;
}
.formsLogin{
    display: flex;
    flex-direction: column;
    gap:2vw;
    align-items: center;
}
.formsLoginBox{
    width: 110%;
    border: 0;
    height: 2.5vw;
    font-size: 1.1vw;
    color: #000;
    border: #237699 solid 0.2vw;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0.3vw;
    border-radius: 0.6vw;
}

.formsLoginBox:focus{
    background-color: #508ba5;
    outline: none;
    color: #ffffffef;
}

input{
    padding: 0px;
    padding-inline: 8px;

}

.formsDependente ::placeholder{
    text-align: center;
    color: #9abccc;
    border: 0;
}
.formsLogin ::placeholder{
    text-align: center;
    color: #9abccc;
    border: 0;
}
.containerLogin div{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 2vw;
    width: 75%;
    margin-inline: auto;
}
.containerLogin{
    width: 38vw;
    align-items: center;
    justify-content: center;
}
.containerLogin h1{
    color: #ffffffef;
    margin: 2vw;
    font-size: 3vw;
}   


form{
    display: flex;
    flex-direction: column;
}
.section_home_responsavel{
    display: flex;
    height: 57%;
    justify-content: center;
    gap:3vw;
    /*background-color: #dd66666e;*/
}
.section_adicionar_estoque{
    display: flex;
    height: 57%;
    justify-content: center;
    gap:10vw;
    align-items: center;
}
.dadosReponsavel1{
    display: flex;
    flex-direction: column;
}
.dadosResponsavel1-1, .dadosResponsavel1-2{
    width: 10vw;
    height: 10vw;
    background-color: #9aa2a5;
}
.dadosReponsavel2{
    width: 20vw;
    height: 20vw;
    background-color: aqua;
}
.flex{
    display: flex;
}

.containerAdicionarSaldo, .containerCadastroDependente{
    text-align: center;
    display: flex;
    justify-content: center;
    gap:2vw;
    align-items: center;
    height: 100%;
}

.sidebarResponsavel{
    display: flex;
    flex-direction: column;
    width: 6.5%;
    background-color: hsl(197, 45%, 44%);
    position: absolute;
    border-radius: 0.4vw;
    height: calc(100vh - var(--margin-principal) * 2);
    justify-content: space-evenly;
    align-items: center;

}
.dadosLista{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    background-color: hsl(197, 45%, 44%);
    border-radius: 0.5vw;
    justify-content: center;

}
.dadosLista{
    overflow: hidden;
    max-height: 20vw;
    overflow-y: scroll;
}
.bodyBaseResponsavel{
    margin-left: 8.5%;
    width: 90%;
}

.lista h1{
    margin: 1vw;
    font-size: 2vw;
}

.bodyDependente{
    gap:5vw;
    margin-left: 8.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.titCanv{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    font-size: 1.4vw;
}
.bodyBaseFuncionario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vw;
    width:100%;
}
.boxFunc{
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0.3vw;
    font-weight: 700;
    color: #66a8dd;
    font-size: 1.2vw;
    text-align: center;
    background-color: #4e9edf3b;
    padding: 0.7vw;
    height: 1.5vw;
    padding-inline: 0.9vw;
    border-radius: 0.6vw;
    border: solid #66a4dd 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divFunc a{
    font-size: 1.2vw;
    
}

#hidden{
    display: none;
}
.sidebarResponsavel{
    transition: 0.7s;
    align-items: center;
    align-items: flex-start;
}
.sidebarResponsavel:hover {
    transition: 0.5s;
    width: 16.5%;
    
}
.sidebarResponsavel div{
    margin-left: 2.1vw;
    gap: 1vw;
}
.sidebarResponsavel p{
    visibility: hidden;
    opacity: 0;
    color: #ffffffef;
    transition: opacity 0.2s, visibility 0.2s;

}
.sidebarResponsavel:hover p{
    font-size: 1.2vw;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.7s, visibility 0.7s;
    
}
.sidebarResponsavel div{
    display: flex;
    align-items: center;
}
.sidebarResponsavel img{
    width: 2.2vw;
    height: 2.2vw;
}

/* O Modal (Fundo) */
.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1; /* Fica acima do conteúdo da página */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente */
}



/* Botão de Fechar */
.close {
    color: #ffffffc4;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.botaoIncremento{
    padding: 0.5vw;
    padding-inline: 2vw;
    max-width: 10vw;
    border-radius: 1vw;
    margin-block: 1vw;
    background-color: #7cbe92;
    border: #57a571 solid 0.2vw;
    font-size: 1.5vw;
}
.botaoDecremento{
    padding: 0.5vw;
    padding-inline: 2vw;
    max-width: 10vw;
    border-radius: 1vw;
    margin-block: 1vw;
    background-color:#d46f6f;
    border: #c55a5a solid 0.2vw;
    font-size: 1.5vw;
}