
{% extends 'baseResponsavel.html' %}

{% block titulo %}
    Adicionar Dependente
{% endblock %}

{% block conteudo %}
<body>  
    <div class="containerCadastroDependente">
        <h1> 
            Adicione o dependente
        </h1> 
        <form method="POST" class="formsDependente" style="color: whitesmoke;"> 

            {{ form.hidden_tag() }}

            {{form.usuario.label()}}
            {{form.usuario(class="formsLoginBoxMenor", placeholder="Informe o UserName")}}
            
            {{form.email.label()}}
            {{form.email(class="formsLoginBoxMenor", placeholder="Informe o E-mail")}}

            {{form.senha1.label()}}
            {{form.senha1(class="formsLoginBoxMenor", placeholder="Informe a Senha")}}

            {{form.senha2.label()}}
            {{form.senha2(class="formsLoginBoxMenor", placeholder="Confirme a Senha")}}
            
            {{form.submit(class="botãoContainer1")}}

    
        </form>
    </div>
</body>
{% endblock %}