

{% extends 'baseFuncionario.html' %}

{% block titulo %}
    ADICIONAR ESTOQUE
{% endblock %}

{% block conteudo %}
<div id="myModalEstoque" class="modal">
    <ul>
            <div class="modalAdicionarSaldo">
                <h1>Digite o estoque adicionado:</p>
                  <div class="flexJ">
                      <input type="number" id="estoqueAmount" placeholder="Quantidade">
                      <button type="button" class="buttonConfirmDepo" onclick="submitEstoque()">Adicionar</button>
                    <span class="spanDepoDep">&times;</span>
                  </div>
            </div>
    </ul>
</div>

<header>
    <a  class="botãoContainerVoltar" href="{{url_for('homeFunc')}}">Voltar</a>

</header>

    <div class="bodyaddEstoque">

    {% for produto in produtos %}

        <div class="boxChoseLanche">
            <h1>{{produto.lanche}}</h1>
            <h2>{{produto.valor}}</h2>
            <a class="botoesChoseLanche" onclick = "adicionarEstoqueModal({{produto.id}})" >+ ESTOQUE</a>
            <h3 class="estoquetxt">estoque: {{produto.quantidade}}</h3>
            

        </div>
    
    {%endfor%}
</div>
<script src="{{url_for('static', filename='adicionarEstoque.js')}}"></script>
{%endblock%}