

{% extends 'baseFuncionario.html' %}

{% block titulo %}
    HOME
{% endblock %}

{% block conteudo %}
<header>
    <a class="botãoContainerVoltar" href="{{url_for('homeFunc')}}">Voltar</a>
    
</header>

<section class="section_home_responsavel">

    <form method="POST">
        {{ form.hidden_tag() }}

        {{form.lanche.label()}}
        {{form.lanche(class="formsLoginBox", placeholder="Informe o nome")}}

        {{form.valor.label()}}
        {{form.valor(class="formsLoginBox", placeholder="Informe o valor")}}

        {{form.quantidade.label()}}
        {{form.quantidade(class="formsLoginBox", placeholder="Informe o valor")}}

        {{form.submit(class="botãoContainer1")}}

    </form>
    
</section>
<footer>
    
    

</footer>


{%endblock%}