
{% extends 'baseResponsavel.html' %}

{% block titulo %}
    ADICIONAR SALDO
{% endblock %}

{% block conteudo %}
<container class="containerAdicionarSaldo">
    <h1>Alterar Saldo - Seu saldo atual: {{current_user.saldo}}</h1>
    <form method="POST" class="formsSaldo" style="color: whitesmoke;"> 

        {{ form.hidden_tag() }}

        {{form.saldo(class="formsLoginBox", placeholder="Informe a quantia")}}
        
        {{form.submit(class="botãoContainer1")}}
    </form>
</container>

{% endblock %}  