<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0('static', filename='style.css')">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <title>
        {%block titulo%}
            Adicionar Dependente
        {%endblock%}
    </title>

</head>
<body>
    <div class="container">

        <div class="sidebarResponsavel">
            <div><a href="{{url_for('homeResponsavel')}}"><img src="{{url_for('static', filename='imagens/RealLove.png')}}"><p style="text-align:center">MySnack</a></p></div>
            <div><a href="{{url_for('adicionarDependente')}}"><img src="{{url_for('static', filename='imagens/config.png')}}"><p>CADASTRAR</a></p></div>
            <div><a href="{{url_for('escolherDependente')}}"><img src="{{url_for('static', filename='imagens/registro.png')}}"><p>GERENCIAR</a></p></div>
            <div><a href="{{url_for('adicionarSaldoResponsavel')}}"><img src="{{url_for('static', filename='imagens/dolar.png')}}"><p>DEPOSITAR</a></p></div>
            <div><a href="{{url_for('PerfilPage')}}"><img src="{{url_for('static', filename='imagens/Historico.svg')}}"><p>PERFIL</a></p></div>
        </div>
        

    {%block conteudo%}
        <div class="bodyDependente">
            
            {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages%}
            {%for category, message in messages%}
        
                <p class="flashMessages">{{message}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
            <div class="bodyaddDependente">  
                <div class="containerCadastroDependente">
                    <h1> 
                        Adicionar Dependente
                    </h1> 
                    <form method="POST" class="formsDependente" style="color: whitesmoke;"> 
            
                        {{ form.hidden_tag() }}
                    <div class="flex">
                        {{form.usuario.label(class="labelLogin")}}
                        {{form.usuario(class="formsLoginBox", placeholder="UserName")}}
                    </div>
            
                    <div class="flex">
            
                        {{form.email.label(class="labelLogin")}}
                        {{form.email(class="formsLoginBox", placeholder="E-mail")}}
                    </div>
            
                    <div class="flex">
            
                        {{form.senha1.label(class="labelLogin")}}
                        {{form.senha1(class="formsLoginBox", placeholder="Senha")}}
                    </div>
            
                    <div class="flex">
            
                        {{form.senha2.label(class="labelLogin")}}
                        {{form.senha2(class="formsLoginBox", placeholder="Senha")}}
                    </div>
                       
                    
                        {{form.submit(class="botãoContainer1")}}
            
                
                    </form>
                </div>
                <div class="lista">
                    <h1>Lista de Dependentes</h1>
                    
                    <div class="dadosLista">

                    {% for i in dependentes%}    
                        <p>Nome: <p class="saldoText">{{ i.usuario}}</p></p>
                        
                        <p>E-mail: <p class="saldoText">{{ i.email}}</p></p>
                        
                        <p>Saldo: <p class="saldoText">{{ i.saldo}}</p></p>
                        
                        <br>
                    {% endfor%}
                    <div>

                </div>
            </div>
            {%endblock%}
            
        </div>
    </div>
    
</body>
</html>


