<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0('static', filename='style.css')">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>
        {%block titulo%}
            MySnack
        {%endblock%}
    </title>

</head>
<body>
    <div class="container">
        


        <div class="bodyBaseResponsavel">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {%if messages%}
                    {%for category, message in messages%}
                
                        <p class="flashMessages">{{message}}</p>
                    {%endfor%}
                {%endif%}
            {%endwith%}

            {%block conteudo%}

            
            {%endblock%}
            
        </div>
    </div>


</body>
</html>
