<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0('static', filename='style.css')">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>
        {%block titulo%}
            MySnack
        {%endblock%}
    </title>

    <link rel="stylesheet" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <div class="sidebarResponsavel">
            <div><a href="{{url_for('homeResponsavel')}}"><img src="{{url_for('static', filename='imagens/RealLove.png')}}"><p style="text-align:center">MySnack</a></p></div>
            <div><a href="{{url_for('adicionarDependente')}}"><img src="{{url_for('static', filename='imagens/config.png')}}"><p>CADASTRAR</a></p></div>
            <div><a href="{{url_for('escolherDependente')}}"><img src="{{url_for('static', filename='imagens/registro.png')}}"><p>GERENCIAR</a></p></div>
            <div><a href="{{url_for('adicionarSaldoResponsavel')}}"><img src="{{url_for('static', filename='imagens/dolar.png')}}"><p>DEPOSITAR</a></p></div>
            <div><a href="{url_for('escolherDependente')}"><img src="{{url_for('static', filename='imagens/Historico.svg')}}"><p>OUTRO</a></p></div>
            <div><a href="{url_for('escolherDependente')}"><img src="{{url_for('static', filename='imagens/Historico.svg')}}"><p>OUTRO</a></p></div>

        </div>

        <div class="bodyBaseResponsavel">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {%if messages%}
                    {%for category, message in messages%}
                        <div class="alert alert-{{category}} alert-dismissable fade show" role="alert">
                            <button
                            type="button"
                            class="btn-class"
                            data-bs-dismiss="alert"
                            arial-label="Close"> 
                            </button>
                            {{message}}
                        </div>
                    <p>{{message}}</p>
                    {%endfor%}
                {%endif%}
            {%endwith%}

            {%block conteudo%}

            
            {%endblock%}
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>
