<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0('static', filename='style.css')">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>
        {%block titulo%}
            MySnack
        {%endblock%}
    </title>

</head>
<body>
    <div class="container">
        


        <div class="bodyBaseResponsavel">

            {% with messages = get_flashed_messages(with_categories=True) %}
        
        {% if messages %}

            <div id="myModal" class="modal">
                <ul>
                    {% for category, i in messages %}    
                        {% if category == 'notError' %}
                        <div class="modal-content-NotError">
                            <span class="close">&times;</span>
                            <li class="mensagensErro">{{ i }}</li>
                        </div>

                        {% elif category == 'modalCodigo' %}
                        <div class="modalCodigo">
                            <div class="espaco">
                            <li class="mensagensErro">{{ i }}</li>
                            <li class="hintPedido"> A mudança de página resultará no cancelamento do pedido!</li>
                            </div>
                        </div>
                        <script>
                            window.addEventListener('beforeunload', function(e) {
                                console.log("atualizando aq")
                                

                                    // Realiza a requisição 'fetch' para cancelar o pedido
                                    fetch(`/cancelarPedido`)
                                        .then(data => {
                                            // Redireciona após o pedido ser cancelado
                                            window.location.href = "/homeDependente";
                                        })
                                        
                            });
                            
                            </script>
                        {% else %}
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <li class="mensagensErro">{{ i }}</li>
                        </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            {% endif %}
    {% endwith %}
    <script src="{{url_for('static', filename='modal.js')}}"></script>


            {%block conteudo%}

            
            {%endblock%}
            
        </div>
    </div>


</body>
</html>
