<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>

<body class="loginPrincipal">
    
    <div class="bannerLogin">
        <img src="{{url_for('static', filename='imagens/RealLove.png')}}">
        <h1>MySnack</h1>
        <h3>Bem vindo! Se você já tem cadastro Faça seu login!</h3>
        <a href="{{url_for('login')}}" class="botãoContainer1">Fazer Login</a>
    </div>

    <div class="containerEntrandoLogin">
        <div class="containerLogin">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {%if messages%}
                        {%for category, message in messages%}
                            <p class="flashMessages">{{message}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
                <h1 >
                    Faça seu Cadastro
                </h1>
                <form method="POST" class="formsLogin" style="color: whitesmoke;"> 

                    {{ form.hidden_tag() }}
        
                    {{form.usuario(class="formsLoginBox", placeholder="Informe o UserName")}}
                    
                    {{form.email(class="formsLoginBox", placeholder="Informe o E-mail")}}
        
                    {{form.senha1(class="formsLoginBox", placeholder="Informe a Senha", )}}
        
                    {{form.senha2(class="formsLoginBox", placeholder="Confirme a Senha", )}}
                    
                    
                    {{form.submit(class="botãoContainer1")}}
        
                    
                </form>
            
        </div>
    </div>
</bod>
</html>
        
