{% extends 'base.html' %}

{% block titulo %}
    Formulario de Cadastro
{% endblock %}

{% block conteudo %}
<body>  
    <div class="containerCadastro">
        <h1 class="h3 mb-3 font-weight-normal"> 
            Por favor, crie a sua conta
        </h1> 
        <form method="POST" class="form-register" style="color: whitesmoke;"> 

            {{ form.hidden_tag() }}

            {{form.usuario.label()}}
            {{form.usuario(placeholder="Informe o UserName")}}
            
            {{form.email.label()}}
            {{form.email(placeholder="Informe o E-mail")}}

            {{form.senha1.label()}}
            {{form.senha1(placeholder="Informe a Senha")}}

            {{form.senha2.label()}}
            {{form.senha2(placeholder="Confirme a Senha")}}
            <br>
            <div class="checkbox mb-3">
                <h5> Você já possui cadastro? </h5>
                <a href="{{url_for('login')}}">Login</a>
            </div>
            <br>
            <div class="d-grid">
                {{form.submit()}}

            </div>
        </form>
    </div>
</body>
{% endblock %}