

{% extends 'baseDependente.html' %}

{% block titulo %}
    COMPRAR PRODUTO
{% endblock %}

{% block conteudo %}
<header>
    <a class="botãoContainerVoltar" href="{{url_for('escolherProduto')}}">Voltar</a>

</header>

<form method="post">
    <h1 class="tituloComprarProduto">Escolha a quantidade - {{obj.lanche}}</h1>
    {{ form.hidden_tag() }}
    

    <div class="counter" id="counter" value="1">1</div>
    <button class="botaoIncremento" type ="button" onclick="increment()">+</button>
    <button class="botaoDecremento" type ="button" onclick="decrement()">-</button>

    <input type="hidden" name="counter_value" id="counter_value" value="1">

    {{form.submit(class="botãoContainer1")}}

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>


<script src="{{url_for('static', filename='script.js')}}"></script>
<script>
    const socket = io({autoConnect: false});
    socket.connect();
    var id = "dependente"+{{current_user.id}}
    //conectando ao quarto do user específico
    socket.emit("user_join", id);
    console.log(id)
    
    socket.on("mostrarConclusao", (mensagem) =>{
        console.log(mensagem)
    })
</script>
<footer>
    
</footer>

{%endblock%}