

{% extends 'baseDependente.html' %}

{% block titulo %}
    HOME
{% endblock %}

{% block conteudo %}
<header>
    <a class="botãoContainerVoltar" href="{{url_for('escolherProduto')}}">Voltar</a>

</header>

<form method="post">
    <h1>deseja realmente comprar? {{obj.nome}}</h1>
    {{ form.hidden_tag() }}
    

    <div class="counter" id="counter" value="1">1</div>
    <button class="botaoIncremento" type ="button" onclick="increment()">Incrementar</button>
    <button class="botaoDecremento" type ="button" onclick="decrement()">Decrementar</button>

    <input type="hidden" name="counter_value" id="counter_value" value="1">

    {{form.submit(class="botãoContainer1")}}

</form>

<script src="{{url_for('static', filename='scripts.js')}}"></script>

<footer>
    
</footer>

{%endblock%}