

{% extends 'baseDependente.html' %}

{% block titulo %}
    COMPRAR PRODUTO
{% endblock %}

{% block conteudo %}
<header>
    <a class="botãoContainerVoltar" href="{{url_for('escolherProduto')}}">Voltar</a>

</header>

<form method="post">
    <h1 class="tituloComprarProduto">Escolha a quantidade - {{obj.lanche}}</h1>
    {{ form.hidden_tag() }}
    

    <div class="counter" id="counter" value="1">1</div>
    <button class="botaoIncremento" type ="button" onclick="increment()">+</button>
    <button class="botaoDecremento" type ="button" onclick="decrement()">-</button>

    <input type="hidden" name="counter_value" id="counter_value" value="1">

    {{form.submit(class="botãoContainer1")}}

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>

<script src="{{url_for('static', filename='scriptModalFeedbackCompra.js')}}"></script>

<script src="{{url_for('static', filename='script.js')}}"></script>
<script>
    const socket = io({autoConnect: false});
    socket.connect();
    var id = "dependente"+{{current_user.id}}
    //conectando ao quarto do user específico
    socket.emit("user_join", id);

    const idOBJ = "{{ obj.id }}";  // Variável 'obj' do Flask

    console.log(idOBJ)
    const idPedido = "{{ session.get('id_pedido', '') }}";

    window.addEventListener("keydown", function (e) {
    
        console.log("entrou")
        
    });
    

    socket.on("mostrarConclusao", (mensagem) =>{
        
        fetch(`/compraConfirmadaHistorico/${idOBJ}`).then(response =>{
            var mod = document.getElementById("myModal")
            mod.style.display = "none"
            div = document.createElement("div")
            div.innerHTML = `
            <div id="myModal" class="modalFeedback">
                <ul>
                        <div class="modal-content-NotError">
                            <span class="spanFeedback">&times;</span>
                            <li class="mensagensErro">${mensagem}</li>
                        </div>
                    </ul>
            </div>`
            document.body.getElementsByClassName("bodyBaseResponsavel")[0].appendChild(div)
        })
    })
</script>
<footer>
    
</footer>

{%endblock%}