

{% extends 'baseFuncionario.html' %}

{% block titulo %}
    ESCOLHER REMOVER PRODUTO
{% endblock %}

{% block conteudo %}

<header>
    <a class="botãoContainerVoltar" href="{{url_for('homeFunc')}}">
        VOLTAR
    </a>
</header>

    <form method="post">
        
            {% for produto in produtos %}
            <div class="boxChoseLanche">
                <h1>{{produto.lanche}}</h1>
                <h2>{{produto.valor}}</h2>
                <a class="botoesChoseLanche" href="{{url_for('removerProdutos', id = produto.id)}}">EXCLUIR</a>
                <h3 class="estoquetxt">estoque: {{produto.quantidade}}</h3>

            </div>
            {%endfor%}
        
    </form>
{%endblock%}

