

{% extends 'baseDependente.html' %}

{% block titulo %}
    HOME
{% endblock %}

{% block conteudo %}
<header>
    <div>
        <a class="botãoContainerLogout" href="{{url_for('logout')}}">
            sair
    </a>
        <h1>Saldo atual: {{saldo}}</h1>
        
    </div>
</header>

<form method="post">
    {% for produto in produtos %}
        <h1>{{produto.lanche}}</h1>
        <h2>{{produto.valor}}</h2>
        <button class="botoesChoseDependent" name="botao" value={{produto.id}}> <a>clique aqui para {{produto.lanche}}</a></button>
    {%endfor%}
</form>
    


<footer>
    
</footer>

{%endblock%}