

{% extends 'baseDependente.html' %}

{% block titulo %}
    HOME
{% endblock %}

{% block conteudo %}
<body class="bodyDependente">
    <header>
        <div>
            <a class="botãoContainerLogout" href="{{url_for('logout')}}">
                SAIR
            </a>
            <h1>Saldo atual: {{current_user.saldo}}</h1>
            
        </div>
    </header>
    <div class="bodyChoseDependent">
        <form method="post">
            {% for produto in produtos %}
                {% if produto.quantidade>0 %}
                <div class="boxChoseLanche">
                    <h1>{{produto.lanche}}</h1>
                    <h2>{{produto.valor}}</h2>
                    <a class="botoesChoseLanche" href="{{url_for('comprarProduto', id = produto.id)}}">COMPRAR</a>
                    <h3 class="estoquetxt">estoque: {{produto.quantidade}}</h3>

                </div>
                {% endif %}
            {%endfor%}
        </form>
    </div>
</body>
<script src="{{url_for('static', filename='scripts.js')}}"></script>

<footer>
    
</footer>

{%endblock%}