

{% extends 'baseResponsavel.html' %}

{% block titulo %}
    HOME
{% endblock %}

{% block conteudo %}
<header>

    <div>
        <div>
            <h1>Saldo atual: {{current_user.saldo}}</h1>
            <img src="{{url_for('static', filename='imagens/RealLove.png')}}">
        </div>
        <a href="{{url_for('adicionarDependente')}}">cadastrar dependente</a>
        <a href="{{url_for('escolherDependente')}}">gerenciar dependentes</a>
        <a href="{{url_for('adicionarSaldoResponsavel')}}">adicionar saldo</a>
    </div>
</header>

<section class="section_home_responsavel">

</section>
<footer>
    <a class="botãoContainerLogout" href="{{url_for('logout')}}">
            sair
    </a>
</footer>

{%endblock%}