{% extends 'base.html' %}

{% block titulo %}
    Pagina de Login
{% endblock %}

{% block conteudo %}
    <body>
        <div class="containerLogin">
            <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" style="width: 200px;">
            <h1 >
                Por favor, faça o seu Login
            </h1>
            <form method="POST" class="form-signin" style="color: whitesmoke;">
                {{form.hidden_tag() }}

                {{form.usuario.label() }}
                {{form.usuario(placeholder="Informe o Usuario") }}

                {{form.senha.label() }}
                {{form.senha(placeholder="Informe a Senha") }}
                
                {{form.submit}}

            </form>
            <br>
                <div>
                    <h5> Você ainda não possiu cadastro? </h5>
                    <a href="{{url_for('cadastro')}}">Cadastre-se</a>
                </div>
            <br>
        </div>

    </bod>
{% endblock %}