{%extends 'base.html'%}

{%block titulo%}

{%endblock%}

{% block conteudo %}
    <div class="ct-chart ct-major-twelfth"></div>
    <script>
      class MyCharts{

        constructor(xData, YData)
        {
            this.XData = XData;
            this.YData = YData;
        }

        createGraph()
        {
            var data =
                    {
                        labels: this.XData,
                        series:[
                            this.YData
                        ]
                    }
            new Chartist.Line('.ct-chart', data);
        }
    }

    var XData= ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'];
    var YData = [5, 2, 4, 2, 0];
        var obj = new MyCharts(XData, YData);
        obj.createGraph();
    </script>
{% endblock %}
